/* Global styles for Pomodoro App */
:root {
  --pomodoro: #BA4949;
  --shortBreak: #39868A;
  --longBreak: #397097;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--pomodoro);
  transition: background-color 1s ease, background-image 1s ease;
  background-size: cover;
  background-position: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  user-select: none;
  margin: 0;
  overflow-y: auto;
}

.app {
  padding-top: 90px;
}

.hidden {
  display: none;
}

.app.authenticated {
  opacity: 1;
  pointer-events: auto;
  filter: blur(0);
}

.app:not(.authenticated) {
  opacity: 0.3;
  pointer-events: none;
  filter: blur(5px);
  transition: opacity 0.5s ease, filter 0.5s ease;
} 